@import "../../../styles/globalstyles.scss";
@import "../../../styles/typography.scss";

.cartItemCard {
  background-color: $grey-0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: background-color 0.3s;

  .itemContainer {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1.3rem;

    .cartItemImg {
      width: 5rem;
      height: 5rem;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $grey-100;

      img {
        width: 3.4375rem;
        height: 3.34313rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .itemDetails {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;

      .itemTitle {
        font-weight: $font-weight-bold;
        margin-bottom: 0.25rem;
      }

      .itemQuantity {
        font-size: $font-size-body;
        color: $grey-600;
      }
      .itemPrice {
        color: $color-primary;
      }
    }
    .quantityContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      .quantityButton {
        @include typography($font-size-h3, $font-weight-regular, 1.2);
        background-color: $grey-0;
        color: $grey-300;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: $grey-100;
          color: $grey-600;
        }
      }
    }

    .removeButton {
      margin-left: auto;
      background: transparent;
      border: none;
      cursor: pointer;

      .icon {
        color: $grey-200;
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}
